# GoCommerce specific
*.tmp
files/images/*
!/files/images/2fc4513d-810b-42d3-8869-001a5b039aa6.jpg
!/files/images/f6aca5c2-8aa8-4f14-ad71-26c697859716.jpg

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
