{{ template "empty.html.go.tmpl" . }}

{{ define "empty_head" }}
  <link href="/admin/static/css/main.css" rel="stylesheet" />

  {{ block "base_head" . }}{{ end }}
{{ end }}

{{ define "empty_content" }}
  <header
    class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
  >
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/admin">
      GoCommerce
    </a>
    <button
      class="navbar-toggler position-absolute d-md-none collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <input
      class="form-control form-control-dark w-100 rounded-0 border-0"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Sign out</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
      >
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                class="nav-link {{ if eq .ParentPath "products" }}
                  active
                {{ end }}"
                href="/admin/products/"
              >
                <i class="bi bi-box-seam"></i>
                Producten
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{ if eq .ParentPath "categories" }}
                  active
                {{ end }}"
                href="/admin/categories/"
              >
                <i class="bi bi-tag"></i>
                Categorieën
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{ if eq .ParentPath "manufacturers" }}
                  active
                {{ end }}"
                href="/admin/manufacturers/"
              >
                <i class="bi bi-building"></i>
                Merken
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{ if eq .ParentPath "events" }}
                  active
                {{ end }}"
                href="/admin/events/"
              >
                <i class="bi bi-calendar-event"></i>
                Evenementen
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link {{ if eq .ParentPath "content" }}
                  active
                {{ end }}"
                href="/admin/content/"
              >
                <i class="bi bi-blockquote-left"></i>
                Inhoud
              </a>
            </li>
            <li class="nav-item mt-3">
              <a class="nav-link" href="/admin/logout/">
                <i class="bi bi-door-open"></i>
                Uitloggen
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {{ block "base_content" . }}{{ end }}
      </main>
    </div>
  </div>
{{ end }}

{{ define "empty_body_end" }}
  {{ block "base_body_end" . }}{{ end }}
{{ end }}
