<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>{{ .Title }} - GoCommerce</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
      integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link href="{{ getStaticURL "css/main.css" }}" rel="stylesheet" />

    {{ block "empty_head" . }}{{ end }}
  </head>
  <body>
    {{ range $i, $msg := .Messages }}
      {{ if eq .Type "success" }}
        <script>
          setTimeout(() => {
            var alert = document.getElementById("alert-{{ $i }}");
            alert.parentNode.removeChild(alert);
          }, 2000);
        </script>
      {{ end }}
      <div
        id="alert-{{ $i }}"
        class="alert alert-{{ .Type }} alert-fixed alert-dismissible"
        role="alert"
        style="top: {{ add 10 (product $i 50) }}px;"
      >
        {{ .Content }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    {{ end }}

    {{ block "empty_content" . }}{{ end }}


    <script>
      // Based on https://stackoverflow.com/a/75065536
      // Set theme to the user's preferred color scheme
      function updateTheme() {
        const colorMode = window.matchMedia("(prefers-color-scheme: dark)")
          .matches
          ? "dark"
          : "light";
        document.querySelector("html").setAttribute("data-bs-theme", colorMode);
      }

      // Set theme on load
      updateTheme();

      // Update theme when the preferred scheme changes
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", updateTheme);
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
      integrity="sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Extra body content -->
    {{ block "empty_body_end" . }}{{ end }}
  </body>
</html>
