{{ template "base.html.go.tmpl" . }}

{{ define "base_content" }}
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">
      Evenement {{ if .IsNew }}toevoegen{{ else }}aanpassen{{ end }}
    </h1>
  </div>

  <form method="post">
    <div class="mb-3">
      <label for="inputName" class="form-label">Naam</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="inputName"
        value="{{ .Event.Name }}"
      />
    </div>
    <div class="mb-3">
      <label for="inputStart" class="form-label">Start datum</label>
      <input
        required
        type="date"
        name="start"
        class="form-control"
        id="inputStart"
        value="{{ .Event.Start }}"
      />
    </div>
    <div class="mb-3">
      <label for="inputEnd" class="form-label">Eind datum</label>
      <input
        required
        type="date"
        name="end"
        class="form-control"
        id="inputEnd"
        value="{{ .Event.End }}"
      />
    </div>

    <a href="{{ getURL "events" }}" class="btn btn-danger">Annuleren</a>
    <button type="submit" class="btn btn-success">Opslaan</button>
  </form>
{{ end }}
