{{ template "base.html.go.tmpl" . }}

{{ define "base_content" }}
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Evenementen</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="me-2">
        <a
          href="?show_past_events={{ if .ShowPastEvents -}}
            false
          {{- else -}}
            true
          {{- end }}"
          class="btn btn-sm btn-primary"
        >
          {{ if .ShowPastEvents }}
            Verberg
          {{ else }}
            Toon
          {{ end }}
          voorbije evenementen
        </a>
        <a href="{{ getURL "events/new" }}" class="btn btn-sm btn-success">
          Toevoegen
        </a>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Start</th>
          <th scope="col">Einde</th>
          <th scope="col">Naam</th>
          <th scope="col">Acties</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Events }}
          <tr>
            <td>{{ .Start }}</td>
            <td>{{ .End }}</td>
            <td>{{ .Name }}</td>
            <td>placeholder</td>
          </tr>
        {{ else }}
          <tr>
            <td colspan="4" class="text-center">Geen evenementen gevonden</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
