{{ template "empty.html.go.tmpl" . }}

{{ define "empty_head" }}
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      display: flex;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
{{ end }}

{{ define "empty_content" }}
  <main class="form-signin w-100 m-auto">
    <form method="post">
      <div class="form-floating pb-2">
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="henk"
        />
        <label for="username">Gebruikersnaam</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Wachtwoord"
        />
        <label for="password">Wachtwoord</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Inloggen
      </button>
    </form>
  </main>
{{ end }}
