{{ template "base.html.go.tmpl" . }}

{{ define "base_head" }}
  <style>
    td {
      vertical-align: middle;
    }
  </style>
{{ end }}

{{ define "base_content" }}
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Merk foto&apos;s: {{ .Manufacturer.Name }}</h1>
  </div>

  {{ if .Manufacturer.Image }}
    <div class="row pb-5">
      <div class="col-12 col-md-3 text-center">
        <img src="{{ index .Manufacturer.Image.URLs "200" }}" />
      </div>
      <div class="col-3 col-md-8">
        <form
          method="post"
          action="{{ getURL "manufacturers" $.Manufacturer.ID.String "image" .Manufacturer.Image.ID.String "delete" }}"
          onsubmit="return confirm('Ben je zeker dat je deze foto wilt verwijderen?');"
          class="d-inline-block"
        >
          <button
            type="submit"
            class="btn btn-danger"
            title="Foto verwijderen"
          >
            <i class="bi bi-trash"></i>
          </button>
        </form>
      </div>
    </div>
  {{ else }}
    <p>Dit merk heeft nog geen foto&apos;s.</p>
  {{ end }}

  <div
    class="d-flex justify-content-center align-items-center pt-3 pb-3 mb-3 border-bottom"
  >
    <form
      method="post"
      enctype="multipart/form-data"
      class="row row-cols-lg-auto g-3 align-items-center"
    >
      <div class="col-12">
        <input
          multiple
          required
          type="file"
          class="form-control"
          name="images"
          accept="image/*"
        />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-sm btn-success">
        {{ if .Manufacturer.Image }}
        Vervangen
        {{else}}
        Toevoegen
        {{end}}
        </button>
      </div>
    </form>
  </div>

  <div class="row pt-2 pb-3">
    <a href="{{ getURL "manufacturers" }}" class="btn btn-primary">
      Terug naar lijst met merken
    </a>
  </div>
{{ end }}
